html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --color-signum-blue: #0099ff;
  --color-signum-blue-dark: #0066ff;
  --color-signum-green: #00FF88;
  --color-signum-acqua: #E8F3FF;
  --color-signum-acqua-light: #EAF0F6;
  --color-signum-blue-midnight: #021851;
}
